<h1>ユーザー一覧</h1>

<%= page_entries_info @users %>

<table class="table table-striped">
	<thead>
	</thead>
	<tbody>
	    <% @users.each do |users| %>
	    <tr>
	      <td><%= gravatar_for(users) %></td>
	      <td><%= users.name %></td>
	      <td><%= link_to 'プロフィールページヘ', user_path(users) %></td> 
	    </tr>
      <% end %>
	</tbody>
</table>

<%= paginate @users %>